librosa==0.10.1  #music audio analysis
numpy==1.26.4  # numerical computing
requests==2.31.0  #HTTP requests
fastapi==0.110.0  # FastAPI web framework
uvicorn[standard]==0.28.0  # ASGI server
soundfile==0.12.1  # audio file writing/reading
torch
torchvision
torchaudio
torchcrepe
python-multipart
